#Cambiando todas las cosas para evitar conflictos en el merge 

*.a
*.o
*.log
*.class

#ignorando el jar de las libs

!/libs/*.jar
!/test/*.jar
!/Biblioteca/libs/*.jar
!/Biblioteca/test/*.jar

# dependencias inutiles

/Biblioteca/*.mf
/Biblioteca/*.xml
/Biblioteca/dist/
/Biblioteca/build/
/Biblioteca/nbproject/private/private.xml
/Biblioteca/nbproject/private/private.properties

