#Cambios para solucionar los conflictos en el merge

*.a
*.o
*.log 
*.class


#Permitiendo las *.jar de las librerias para conecciones

!/Biblioteca/libs/*.jar
!/Biblioteca/test/*.jar


# ahora con las depenendcias inutiles o innecesarias

/Biblioteca/*.mf
/Biblioteca/*.xml
/Biblioteca/dist/
/Biblioteca/dist/*.*
/Biblioteca/dist/*.jar
/Biblioteca/build/
/Biblioteca/build/*.*
/Biblioteca/build/*.jar
/Biblioteca/nbproject/private/private.*
#/Biblioteca/nbproject/project.properties

#en esta ultima linea ignoramos los private que son los principales conflictos

